
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://cdn.mos.cms.futurecdn.net/8Zw7hWD5ZaquyftsRbEmof-1200-80.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">winter</h5>
        <p class="card-text">Winter is the coldest and darkest season of the year in polar and temperate climates. It occurs after autumn and before spring.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://t4.ftcdn.net/jpg/08/07/54/57/360_F_807545731_lAFOhZIh0E1CMbYVXgQgniQfvXm0JhDP.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Summer</h5>
        <p class="card-text">Summer is the hottest and brightest of the four temperate seasons, occurring after spring and before autumn.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ20omDDeoFQpDUIQrOoEallmGDqeynQN9Jzw&s" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spring</h5>
        <p class="card-text">Spring, also known as springtime, is one of the four temperate seasons, succeeding winter and preceding summer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://c02.purpledshub.com/uploads/sites/47/2023/07/Autumn.jpg?w=1029&webp=1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Autumn</h5>
        <p class="card-text">Autumn, also known as fall,[1] is one of the four temperate seasons on Earth. Outside the tropics, autumn marks the transition from summer to winter.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2024/02/16/14/02/insect-8577624_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">what is message?</h5>
        <p class="card-text">Raising awareness of the dangers of climate change facing the Arab region, and the behaviors it follows to mitigate the expected catastrophic effects, by spreading tangible goals, introducing reliable products, and highlighting inspiring real-life stories that make life greener.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2024/11/05/07/09/elephants-9175178_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">what is vision of weather web?</h5>
        <p class="card-text">Accurate 12 Day Weather Forecasts for thousands of places around the World. We provide detailed Weather Forecasts over a 12 day period updated four times a day. Our interactive weather maps can be customized to show forecasts of temperature, weather and wind. You can also overlay pressure and live weather observations on maps of any country.</p>
      </div>
    </div>
  </div>
</div>

       
    



        
  
